@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

body {
    font-family: 'Open Sans';
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

main {
    padding: 30px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.container {
    width: 100%;
    margin: auto;
    position: relative;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.container .git img {
    width: 100%;
    align-items: flex-end;
}

.header-content {
    position: absolute;
    text-align: left;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 10%;
    width: 100%;
    gap: 24px;
}

.header-content h1, p, .buttons {
    margin: 0;
}

.header-content h1 {
    font-family: Luckiest Guy;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    width: 278px;
    height: 64px;
}

.header-content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    width: 381px;
    height: 132px;
}

.buttons {
    width: 381px;
    height: 122px;
}

.button1, .button2 {
    width: 381px;
    height: 54px;
    border-radius: 28px;
    gap: 16px
}

.button1 {
    color: #23272A;
    background: #ffffff;
    border: none;
    margin-bottom: 10px;
}

.button2 {
    color:  #FFFFFF;
    background: #23272A;
    border: none;
}

.details .main-content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    Padding: 40px 25px 40px 25px;
    Gap: 15px;
}

.main-content img {
    width: 100%;
    margin: 0;
}

.gray {
    background: #F6F6F6;
}

.h2-4 {
    font-family: Luckiest Guy;
}
footer {
    background-color: #23272A;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 162px;
    height: 45px;
}